.register {
    height: 60%;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(160, 200, 200);
}

.register input {
    width: 75%;
    height: 10%;
    padding-left: 5px;
    border: 1px solid grey;
    border-radius: 4px;
}

#registerButton {
    width: 20%;
    height: 7%;
    text-align: center;
    font-size: 1rem;
}

.LogIn {
    height: 30vh;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(160, 200, 200);
}

.LogIn input {
    width: 80%;
    height: 18%;
    padding-left: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: large;

}

#loginButton {
    width: 16%;
    height: 12%;
    text-align: center;
    font-size: 1rem;
}

#checkBox {
    height: 100%;
    width: 75%;
    display: inline;
    font-size: large;
}

.CheckBox {
    display: flex;
    align-items: center;
    height: 10%;
    width: 30%;
}

#picInput {
    width: 40%;
    height: 10%;
}